# Secrets and Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Grader/Task Caches
grader/__pycache__/
tasks/__pycache__/

# Local Performance Reports
performance_chart.png

# IDE Settings
.vscode/
.idea/
